<div id="new-answer">
    <div >
      <p><%= @answer.text %></p>
    </div>
    <div>
      <p><%= @answer.user.username %></p>
      <p><%= @answer.created_at.strftime('%b %d \'%y at %H:%M') %></p>
    </div>
    <div class="answer-vote" id = "<%=@answer.id%>">
    <div class= "vote-form" id = "<%=@answer.id%>">
        <p class="answer-vote-count">Vote Count: <%= @answer.vote_count %></p>
        <form id="answer-upvote-button" action="/questions/<%= @answer.question.id %>/answers/upvote" method="POST">
          <button  type="submit">Upvote</button>
        </form>
        <form id="answer-downvote-button" action= "/questions/<%= @answer.question.id %>/answers/upvote"method="POST">
          <button type="submit">Downvote</button>
        </form>
        </div>
        </div>
    <div id= "<%=@answer.id%>">
    <% if session[:user_id] == @answer.question.user.id %>
    <form class="favorite-form" action = "/answers/<%=@answer.id%>/edit" method = "POST">
    <%end%>
          <button type="submit">Favorite Answer</button>
        </form>
  </div>
