<div id="answer-post">
  <% @answers.each do |answer| %>
    <div class="each-separate-answer">
    <div>
      <p><%= answer.text %></p>
    </div>
    <div>
      <p><%= answer.user.username %></p>
      <p><%= answer.created_at.strftime('%b %d \'%y at %H:%M') %></p>
    </div>
    <% if login? %>
      <% unless session[:user_id] == answer.user.id %>
        <div class= "vote-form" id = "<%=answer.id%>">
        <p class="answer-vote-count">Vote Count: <%= answer.vote_count %></p>
        <form id="answer-upvote-button" action="/questions/<%= @question.id %>/answers/upvote" method="POST">
          <button  type="submit">Upvote</button>
        </form>
        <form id="answer-downvote-button" action="/questions/<%= @question.id %>/answers/downvote" method="POST">
          <button type="submit">Downvote</button>
        </form>
      </div>
    <% end %>
  <% end %>
    <%= erb :'comments/answer/index', locals: { answer: answer } %>
  </div>
  <% end %>
</div>

<% if login? %>
    <%= erb :'answers/new' %>
<% end %>
