<div id="answer-post">
  <% @answers.each do |answer| %>
    <div>
      <p><%= answer.text %></p>
    </div>
    <div>
      <p><%= answer.user.username %></p>
      <p><%= answer.created_at.strftime('%b %d \'%y at %H:%M') %></p>
    </div>

    <%= erb :'comments/answer/index', locals: { answer: answer } %>
  <% end %>
</div>

<% if login? %>
    <%= erb :'answers/new' %>
<% end %>
